@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DataLibrary.Models.MaintenanceModel

@{
    ViewBag.Title = "Maintenance Form";
}

<h2>Maintenance Form</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@
